<h1>Search#hello</h1>

<h1>List Supplier</h1>
<form name="input" action="search/GetSupplierGivenID" method="get">
  Product ID: <input type="text" name="ProductID">
  <input type="submit" value="List Supplier">
</form></br></br>

<h1>List Orders and Price</h1>
<form name="input" action="search/GivenProductIDListOrders" method="get">
  Product ID: <input type="text" name="ProductID">
  <input type="submit" value="List Orders">
</form></br></br>

<h1>List Contact Names</h1>
<form name="input" action="search/GivenProductIDListCustomerContactNames.html" method="get">
  Product ID: <input type="text" name="ProductID">
  <input type="submit" value="List Contact Names">
</form></br></br>